<% if @feed_items.any? %>
    <ol class="microposts">
        <%= render @feed_items %>
    </ol>

    <div class="d-flex justify-content-center">
        <%= paginate @feed_items, window: 2, theme: 'bootstrap-5',
                   pagination_class: "pagination-sm flex-wrap justify-content-center",
                   nav_class: "d-inline-block" %>
    </div>
<% end %>
